<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="丁全博客">
<link rel="apple-touch-icon" href="static/images/logo/hd.png">

<link rel="manifest" href="manifest.json" />
<link rel="stylesheet" href="/static/css/markdown.css">

<link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
  <header>
    <a class="home" href='#/'></a>
    <span class="title">DQ's Blog</span>
  </header>
  <div class="category" id="category">
    <ul>
      <li>
        <a href="#blog/1">添加应用至桌面</a>
        <p>这篇将讲述如何添加应用至桌面。虽然，这个功能实现起来相当简单，可以说是没有什么代码量，但是，不要小看了这个小功能，它有可能会改变大格局。</p>
      </li>
      <li>
        <a href="#blog/2">Service Workers 和离线缓存</a>
        <p>第一次听到 Service Workers 这个词还是在去年 Google 来安利 Angular 2 的时候，那时就觉得很惊艳，想搞一搞，但是因为没把网站升级成 https 一直拖到现在。不久前，把网站升级成了 https，终于可以搞一发了。</p>
      </li>
      <li>
        <a href="#blog/3">Notification with Service Workers push events</a>
        <p>HTML5 Notification 已经推出挺久了，它可以用来给用户发送通知提示。</p>
      </li>
    </ul>
  </div>

  <div class="post md-body" id="post">
    
  </div>

<script src="/static/js/zepto.js"></script>
<script src="/static/js/routie.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>